{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h3 style="margin: 1em 0 0.5em;">{{ post.name }}</h3>
    <table style="border-collapse: collapse; border: none;">
      <tr style="border: none;">
        <td style="border: none;" width="160 px">{{ post.image }}</td>
        <td style="border: none;">
          Email: <a href='mailto:{{ post.email }}' style="color:#5DADE2">{{ post.email }} </a> <br />    
          <!--{{ post.excerpt }}<br /> -->
          <font color="#5DADE2">{{ post.website | markdownify }}</font>
          <p><b>Interest : </b>{{ post.description }}</p>
        </td>
      </tr>
    </table>
     <br />
  </article>
</div>
